* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;*/

}

body,
html {
    display: grid;
    max-width: 1200px;
    background-color: aliceblue;
    margin: 0 auto;
    box-sizing: border-box;
}

h {
    font-family: 'Josefin Sans', sans-serif;
}

hover,
active,
visited {
    opacity: 0.8;
}

.grid-container {
    display: grid;
    min-height: calc(100vh - 30px);
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.2fr 1fr auto;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    max-width: 1200px;


}

/* 

HEADER 

*/

.logo {
    width: 35%;
    height: auto;
}

.header_name h1 {
    text-transform: uppercase;
    font-size: 30px;
}

.header_name h3 {
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 5px;
}


header {
    border-bottom: solid 5px #7d97ad;
}



.portfolio_header {
    font-size: 25px;
    padding-top: 5%;
}

/*

MAIN

*/

.main-photo {
    width: 100%;
    height: auto;
    max-width: 1200px;
    padding-top: 3%;

}

/* 

ARTICLE 

*/

.grid-container_2 {
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    border: 3px solid #7d97ad;
    border-radius: 5%;
    min-height: auto;
    max-width: 1200px;

}

.grid-item_2 {

    padding: 2px;
    font-size: 15px;
    text-align: center;
}

.grid-item_2 img {
    width: 70%;
    height: 50%;


}

/* 

FOOTER 

*/

.item_3 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: #7d97ad;
}

/* media */

@media screen and (min-width: 600px) {
    .grid-container_2 {
        grid-template-columns: auto auto;

    }

    .logo {
        width: 220px;
        height: auto;
        position: relative;
        top: 0;
        left: 2%;
        float: left;
        padding-bottom: 3%;
    }

    .header_name {
        text-align: right;
        margin-left: 50%;
        padding-bottom: 3%;
        margin-right: 2px;
    }

    .header_name h1 {
        font-size: 40px;
    }

    .header_name h3 {
        font-size: 35px;
    }

    .grid-item_2 img {
        width: auto;
        height: 200px;
    }
    .grid-item_2 {
        font-size: 20px;
    }
    .portfolio_header {
        font-size: 35px;
    }

    footer p {
        font-size: 30px;
    }
}

@media screen and (min-width: 900px) {
    .grid-container_2 {
        grid-template-columns: auto auto auto;
    }
    
    h2 {
        font-size: 40px;
    }

    .header_name h1 {
        font-size: 60px
    }

    .header_name h3 {
        font-size: 40px;
    }

    .logo {
        width: 300px;
        height: auto;
    }

    .portfolio_header {
        font-size: 50px;
    }

    footer p {
        font-size: 35px;
    }

}

@media screen and (min-width: 1200px) {
    .grid-container {
        margin-left: auto;
        margin-right: auto;

    }

}
